{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to OscarWildo</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, modi
        enim! Sequi a nihil quidem enim totam? Qui reprehenderit libero reiciendis
        sapiente id adipisci aut fugiat similique saepe. Earum, totam.</p>
{% endblock %}
